%ul
  %li
    %h1 Failed Charges
    %table
      %thead
        %tr
          %th Name
          %th Amount
          %th Date
      %tbody
        = render partial: 'fail', collection: @fails
  %li
    %h1 Disputed Charges
    %table
      %thead
        %tr
          %th Name
          %th Amount
          %th Date
      %tbody
        = render partial: 'dispute', collection: @disputes
  %li
    %h1 Success Charges
    %table
      %thead
        %tr
          %th Name
          %th Amount
          %th Date
      %tbody
        = render partial: 'charge', collection: @charges