%ul
  %li
    %h1 Failed Charges
    = render 'fail', collection: @fails
  %li
    %h1 Disputed Charges
    = render 'dispute', collection: @disputes
  %li
    %h1 Success Charges
    = render 'charge', collection: @charges